language: rust
cache: cargo

script:
  - cargo build --verbose &&
    cargo test  --verbose

# The following matrix for adding clippy support was inspired by:
# https://github.com/CAD97/great-ci/blob/master/.travis.yml
jobs:
  fast_finish: true
  allow_failures:
    - rust: nightly
    - rust: stable
      name: "Formatting"
  include:
    - rust: stable
      name: "Build and test on stable rust"
    - rust: beta
      name: "Build and test on beta rust"
    - rust: nightly
      name: "Build and test on nightly rust"
    - rust: stable
      name: "Clippy"
      before_script:
        - rustup component add clippy
      script:
        - cargo clippy -- -D clippy::all
    - rust: stable
      name: "Formatting"
      before_script:
        - rustup component add rustfmt
      script:
        - cargo fmt -- --check
