language: rust
cache: cargo

rust:
  - stable
  - beta
  - nightly

# The following matrix for adding clippy support was taken from:
# https://github.com/CAD97/great-ci/blob/master/.travis.yml
jobs:
  name: "Build and Test"
  fast_finish: true
  allow_failures:
    - rust: nightly
  include:
    - rust: stable
      name: "Clippy"
      before_script:
        - rustup component add clippy
      script:
        - cargo clippy -- -D clippy::all

script: |
  cargo build --verbose &&
  cargo test  --verbose
